<div class="dashboard page">
    <div class="page__container">
        <div class="dashboard__header">
            <div class="dashboard__welcome">
                <span class="dashboard__company">Dev Portal</span>
                <h1 class="dashboard__greeting">Hello, John</h1>
            </div>
            <div class="dashboard__weather">
                <div class="dashboard__weather-text">
                    <span class="dashboard__weather-location">Beloit, WI</span>
                    <span class="dashboard__weather-temperature">&nbsp;73&deg;</span>
                </div>
                <img class="dashboard__weather-icon" src="../../../../assets/icons/weather-partly-cloudy.svg" alt="Partly Cloudy" />
            </div>
        </div>
        <div class="dashboard__widgets">
            <div class="dashboard__row">
                <div class="alert alert--info" role="alert">
                    <div class="alert__container">
                        <div class="alert__icon">
                            <svg class="svg-inline--fa fa-info fa-w-6 icon" aria-hidden="true" data-prefix="fas" data-icon="info" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 192 512" data-fa-i2svg=""><path fill="currentColor" d="M20 424.229h20V279.771H20c-11.046 0-20-8.954-20-20V212c0-11.046 8.954-20 20-20h112c11.046 0 20 8.954 20 20v212.229h20c11.046 0 20 8.954 20 20V492c0 11.046-8.954 20-20 20H20c-11.046 0-20-8.954-20-20v-47.771c0-11.046 8.954-20 20-20zM96 0C56.235 0 24 32.235 24 72s32.235 72 72 72 72-32.235 72-72S135.764 0 96 0z"></path></svg><!-- <i class="icon fas fa-info"></i> -->
                        </div>
                        <div class="alert__content">
                            <div class="alert__text">Your billing statement for February is now available.</div>
                            <div class="alert__action">
                                <button class="btn btn--info btn--text">Go to Invoices</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dashboard__row">
                <div class="dashboard__module widget widget--main dashboard__orders">
                    <app-orders-widget></app-orders-widget>
                </div>
                <div class="dashboard__module widget widget--main dashboard__deliveries">
                    <app-deliveries-widget></app-deliveries-widget>
                </div>
            </div>
            <div class="dashboard__row">
                <div class="dashboard__module widget widget--secondary dashboard__templates">
                    <app-templates-widget></app-templates-widget>
                </div>
                <div class="dashboard__module widget widget--secondary dashboard__measurements">
                    <app-measurements-widget></app-measurements-widget>
                </div>
            </div>
        </div>
    </div>
</div>