.widget {
    height: 100%;
    display: flex;
    flex-direction: column;
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex: none;
        padding: 1.5rem 2rem;
        border-bottom: 1px solid #eee;
    }
    &__title {
        margin: 0;
        font-weight: 500;
    }
    &__actions {
        display: flex;
        gap: 1rem;
    }
    &__body {
        overflow-y: auto;
        flex: 1 1 auto;
        padding: 0 2rem 0 2rem;
        // background-color: #f8f9fa;
    }
}