<div class="measurements page">
    <div class="page__container">
        <div class="page__header">
            <div class="page__title">
                <h1>Measurements</h1>
            </div>
            <div class="page__actions">
                <button class="btn btn--primary btn--small">Create New</button>
            </div>
        </div>
        <div class="page__body">
            <div class="page__content">
                <p class="u-p-20">Measurements List</p>
            </div>
        </div>
    </div>
</div>