<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell">
            <span class="grid-list__data measurements__po-number">
                <span>#1234-12345678</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data measurements__address">
                <span>1234 Anywhere Street</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data measurements__source">
                <span>GAF Quickmeasure</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data measurements__status">
                <span class="badge badge--success">Completed</span>
            </span>
        </div>
    </div>
</li>