<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell measurements__po-number">
            <span class="grid-list__data">
                <span>#1234-12345678</span>
            </span>
        </div>
        <div class="grid-list__cell measurements__address">
            <span class="grid-list__data">
                <span>1234 Anywhere Street</span>
            </span>
        </div>
        <div class="grid-list__cell measurements__source">
            <span class="grid-list__data">
                <span>GAF Quickmeasure</span>
            </span>
        </div>
        <div class="grid-list__cell measurements__date-requested">
            <span class="grid-list__data">
                <span>Feb 20, 2024</span>
            </span>
        </div>
        <div class="grid-list__cell measurements__status">
            <span class="grid-list__data">
                <span class="badge badge--success">Completed</span>
            </span>
        </div>
        <div class="grid-list__cell orders__menu">
            <span class="grid-list__data">
                <span class="orders__menu-icon">
                    <img src="../../../../../assets/icons/dot-menu.svg" alt="More Menu">
                </span>
            </span>
        </div>
    </div>
</li>