:host {
    width: 100%;
    height: 100%;
}

.slideout {
    height: 100vh;
    width: 100vh;
    overflow: hidden;
    display: block;
    width: 100%;
    height: 100%;
    &__container {
        display: flex;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
    &__content {
        width: 36rem;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
    }
    &__header {
        background-color: #fff;
        padding: .75rem 1rem;
        display: flex;
        justify-content: flex-end;
        border-bottom: 1px solid #e7e9ec;
        flex: none;
    }
    &__body {
        flex: 1;
        overflow-y: auto;
        overflow-x: hidden;
    }
}

.slideout--nav {
    &.slideout--left {
        left: 240px;
    }
    &.slideout--right {
        right: 0;
    }
}

.slideout--content {
    top: 60px;
    height: calc(100% - 60px);
    &.slideout--left {
        justify-content: flex-start;
    }
    &.slideout--right {
        justify-content: flex-end;
    }
}