<div class="slideout" (click)="closeSlideoutInstance()">
    <div class="slideout__container" [ngClass]="classes">
        <div class="slideout__content u-shadow-3"
        role="document"
        (click)="$event.stopPropagation()"
        [@slideoutAnimate]="{
            value: animationState,
            params: {
                enterPosition: slideoutPosition === 'left' ? 'translateX(0)' : 'translateX(0)',
                leavePosition: slideoutPosition === 'left' ? 'translateX(-100%)' : 'translateX(100%)',
            }
        }"
        (@slideoutAnimate.done)="onAnimationDone($event)" 
        >
            <div class="slideout__header" *ngIf="hasHeader">
                <button class="btn btn--text" (click)="closeSlideoutInstance()">Close</button>
            </div>
            <div class="slideout__body">
                <ng-template #slideoutContent></ng-template>
            </div>
        </div>
    </div>        
</div>