.new-report {
    &__header {
        padding: 2rem 2rem 0 2rem;
    }
    &__title {
        margin: 0 0 1rem 0;
    }
    &__body {
        padding: 2rem;
    }
    &__vendors {
        display: flex;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        margin: 0 0 2rem 0;
    }
    &__vendor {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 18rem;
        border: 1px solid #d9dce1;
        padding: 1.5rem;
        border-radius: 4px;
        cursor: pointer;
        transition: box-shadow .25s ease, transform .25s ease;
        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 4px 16px rgba(41, 47, 54, 0.11), 0 2px 4px rgba(41, 47, 54, 0.14);
        }
    }
    &__vendor-description {
        margin: 1.2rem 0 0 0;
        font-size: 1.2rem;
        text-align: center;
        & span {
            display: block;
            line-height: 1.2;
            margin: 0 0 .5rem 0;
        }
    }
    &__vendor-disclaimer {
        color: #627181;
        font-size: 1.1rem;
    }
    &__vendor-logo {
        width: 100%;
        padding: 0 .5rem;
    }
    &__actions {
        width: 100%;
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}