<div class="dashboard">
    <div class="dashboard__widgets">
        <div class="dashboard__row">
            <div class="dashboard__module widget widget--main dashboard__orders card--depth-1">
                <app-orders-widget></app-orders-widget>
            </div>
            <div class="dashboard__module widget widget--main dashboard__deliveries card--depth-1">
                <app-deliveries-widget></app-deliveries-widget>
            </div>
        </div>
        <div class="dashboard__row">
            <div class="dashboard__module widget widget--secondary dashboard__templates card--depth-1">
                <app-templates-widget></app-templates-widget>
            </div>
            <div class="dashboard__module widget widget--secondary dashboard__measurements card--depth-1">
                <app-measurements-widget></app-measurements-widget>
            </div>
        </div>
    </div>
</div>