@import '../shared.scss';

$po-number: 1fr;
$address: 1.5fr;
$source: 1fr;
$date-requested: 1fr;
$status: 10rem;
$menu: 2rem;

.measurements {
    &__status {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__menu {
        align-items: center;
    }
}

.grid-list {
    &__content {
        grid-template-columns: $po-number $address $source $date-requested $status $menu;
        grid-template-rows: 1fr;
    }
}

@container gridlist (max-width: 900px) {
    .grid-list {
        &__content {
            grid-template-columns: $po-number $address $source $status $menu;
        }
    }
    .measurements {
        &__date-requested {
            display: none;
        }
    }
}

@container gridlist (max-width: 640px) {
    .grid-list {
        &__content {
            grid-template-columns: $po-number $address $status $menu;
        }
    }
    .measurements {
        &__source {
            display: none;
        }
    }
}

@container gridlist (max-width: 480px) {
    .grid-list {
        &__content {
            grid-template-columns: $address $status $menu;
        }
    }
    .measurements {
        &__po-number {
            display: none;
        }
    }
}