<div class="measurements widget">
    <div class="widget__header drag-handle">
        <h3 class="widget__title">Measurements</h3>
        <div class="widget__actions">
            <button class="btn btn--primary btn--small">Create New</button>
            <button class="btn btn--outline btn--small" routerLink="/measurements" routerLinkActive="active" ariaCurrentWhenActive="page">Browse All</button>
        </div>
    </div>
    <div class="widget__body">
        <div class="grid-list">
            <div class="grid-list__header">
                <div class="grid-list__content">
                    <div class="grid-list__label measurements__po-number">
                        <span class="grid-list__datar">PO Number</span>
                    </div>
                    <div class="grid-list__label measurements__address">
                        <span class="grid-list__data">Address</span>
                    </div>
                    <div class="grid-list__label measurements__source">
                        <span class="grid-list__data">Source</span>
                    </div>
                    <div class="grid-list__label measurements__date-requested">
                        <span class="grid-list__data">Date Requested</span>
                    </div>
                    <div class="grid-list__label measurements__status">
                        <span class="grid-list__data">Status</span>
                    </div>
                    <div class="grid-list__label measurements__menu"></div>
                </div>
            </div>
            <ul class="grid-list__list">
                <app-measurements-widget-row></app-measurements-widget-row>
                <app-measurements-widget-row></app-measurements-widget-row>
                <app-measurements-widget-row></app-measurements-widget-row>
                <app-measurements-widget-row></app-measurements-widget-row>
                <app-measurements-widget-row></app-measurements-widget-row>
                <app-measurements-widget-row></app-measurements-widget-row>
                <app-measurements-widget-row></app-measurements-widget-row>
            </ul>
        </div>
    </div>
</div>