@import '../shared.scss';

.measurements {
    &__status {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.grid-list {
    &__content {
        grid-template-columns: 1fr 1.5fr 1fr 12rem;
        grid-template-rows: 1fr;
    }
}