.deliveries-group {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 1.5rem 2rem 1.25rem 2rem;
        border-bottom: 1px solid #e7e9ec;
        background-color: #fff;
        position: sticky;
        top: 0;
        z-index: 10;
    }
    &__title {
        margin: 0;
        font-weight: 500;
        position: sticky;
        top: 0;
    }
    &__date {
        font-size: 13px;
        margin-left: .5rem;
        color: #627181;
    }
    &__weather {
        flex: none;
    }
    &__weather-icon {
        width: 2.8rem;
    }
}