<div class="deliveries-group">
    <div class="deliveries-group__container">
        <div class="deliveries-group__header">
            <h4 class="deliveries-group__title">
                <span class="deliveries-group__day">Today</span> 
                <span class="deliveries-group__date">May 9, 2024</span>
            </h4>
            <div class="deliveries-group__weather">
                <img class="deliveries-group__weather-icon" src="../../../../../../../assets/icons/weather-partly-cloudy.svg" alt="Partly Cloudy" />
            </div>
        </div>
        <div class="deliveries-group__body">
            <div class="deliveries-group__list">
                <app-deliveries-widget-item></app-deliveries-widget-item>
                <app-deliveries-widget-item></app-deliveries-widget-item>
                <app-deliveries-widget-item></app-deliveries-widget-item>
                <app-deliveries-widget-item></app-deliveries-widget-item>
                <app-deliveries-widget-item></app-deliveries-widget-item>
            </div>
        </div>
    </div>
</div>