<nav class="account-nav">
    <div class="account-nav__group">
        <div class="account-nav__category">
            <h3 class="account-nav__category-title">Account Details</h3>
            <div class="account-nav__category-links">
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">My Profile</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">Manage Users</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">Manage Preferences</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">Account Admin</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
            </div>
        </div>
        <div class="account-nav__category">
            <h3 class="account-nav__category-title">Account Details</h3>
            <div class="account-nav__category-links">
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">Rewards Program</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">Connected Parters</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="account-nav__category-link">
                    <span class="account-nav__category-name">Reports</span>
                    <span class="account-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="account-nav__category">
        <div class="account-nav__category-links">
            <a href="" class="account-nav__category-link account-nav__sign-out u-text-c-red">
                <span class="account-nav__category-name">Sign Out</span>
                <span class="account-nav__category-icon">
                    <img src="../../../../assets/icons/sign-out.svg" />
                </span>
            </a>
        </div>
    </div>
</nav>

