<div class="filters">
    <div class="filters__section">
        <div class="filters__section-header">
            <h6 class="filters__section-title">Address</h6>
        </div>
        <div class="filters__section-body">
            <div class="form__group">
                <label class="form__label" for="formSelect">Select Address</label>
                <select class="form__element" id="formSelect">
                    <option>1234 Address Street</option>
                    <option>1234 Address Street</option>
                    <option>1234 Address Street</option>
                    <option>1234 Address Street</option>
                    <option>1234 Address Street</option>
                </select>
            </div>
        </div>
    </div>
    <div class="filters__section">
        <div class="filters__section-header">
            <h6 class="filters__section-title">Vendor</h6>
        </div>
        <div class="filters__section-body">
            <div class="form__group">
                <div class="filters__check-list">
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox1">
                        <label class="form__label" for="checkbox1">Hover</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox2">
                        <label class="form__label" for="checkbox2">GAF Quickmeasure</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox3">
                        <label class="form__label" for="checkbox3">Eagleview</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox4">
                        <label class="form__label" for="checkbox4">Roofr</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filters__section">
        <div class="filters__section-header">
            <h6 class="filters__section-title">Date Requested</h6>
        </div>
        <div class="filters__section-body">
            <div class="form__group">
                <div class="form__add-on">
                    <input class="form__element form--small" type="text" id="DateSelect" placeholder="Select Dates...">
                    <span class="form__append">
                        <span class="icon">
                            <img src="../../../../../assets/icons/calendar.svg" alt="">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>