<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell templates__name">
            <span class="grid-list__data grid-list__stacked">
                <span class="orders__name">Template Name</span>
                <span class="orders__order-number u-text-s-2 u-text-c-gunmetal-l2">Template Description</span>
            </span>
        </div>
        <div class="grid-list__cell templates__last-used">
            <span class="grid-list__data grid-list__stacked">
                <span class="templates__last-used-date">Feb 20, 2024</span>
                <span class="templates__email-used u-text-s-2 u-text-c-gunmetal-l2">bob.thompson&#64;redlineroofing.com</span>
            </span>
        </div>
        <div class="grid-list__cell templates__date-created">
            <span class="grid-list__data grid-list__stacked">
                <span class="templates__date-created-date">Feb 14, 2024</span>
                <span class="templates__email-created u-text-s-2 u-text-c-gunmetal-l2">bob.thompson&#64;redlineroofing.com</span>
            </span>
        </div>
        <div class="grid-list__cell templates__last-modified">
            <span class="grid-list__data grid-list__stacked">
                <span class="templates__username">Jeremy Jones</span>
                <span class="templates__email-modified u-text-s-2 u-text-c-gunmetal-l2">jeremy.jones&#64;redlineroofing.com</span>
            </span>
        </div>
        <div class="grid-list__cell orders__menu">
            <span class="grid-list__data">
                <span class="orders__menu-icon">
                    <img src="../../../../../assets/icons/dot-menu.svg" alt="More Menu">
                </span>
            </span>
        </div>
    </div>
</li>