<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell">
            <span class="grid-list__data templates__name">
                <span>Template Name</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data templates__last-used">
                <span>Feb 20, 2024</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data templates__date-created">
                <span>Feb 16, 2024</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data templates__last-modified-by">
                <span>William Thompson</span>
            </span>
        </div>
    </div>
</li>