<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell">
            <span class="grid-list__data orders__name">Thomspons Residence</span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data grid-list__stacked">
                <span class="orders__last-modified">Bob Thompson</span>
                <span class="orders__email u-text-s-2 u-text-c-gunmetal-l2">bob.thompson@redlineroofing.com</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__order-type">
                <span class="orders__type-badge badge">Delivery</span> 
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__po-number">#12345678-1234</span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data grid-list__stacked ">
                <span class="orders__date-created">Feb 20, 2024</span>
                <span class="orders__branch u-text-s-2 u-text-c-gunmetal-l2">ABC Branch #123 - Niles</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__total">$9999.99</span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__status">
                <span class="orders__status-badge badge">Requested</span>
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__menu">
                <span class="orders__menu-icon">
                    <img src="../../../../../assets/icons/dot-menu.svg" alt="More Menu">
                </span>
            </span>
        </div>
    </div>
</li>