<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell">
            <span class="grid-list__data orders__name">Thomspons Residence</span>
        </div>
        <div class="grid-list__cell orders__last-modified">
            <span class="grid-list__data grid-list__stacked">
                <span class="orders__username">Bob Thompson</span>
                <span class="orders__email u-text-s-2 u-text-c-gunmetal-l2">bob.thompson@redlineroofing.com</span>
            </span>
        </div>
        <div class="grid-list__cell orders__order-type">
            <span class="grid-list__data">
                <span class="orders__type-badge badge">Delivery</span> 
            </span>
        </div>
        <div class="grid-list__cell orders__po-number">
            <span class="grid-list__data">#12345678-1234</span>
        </div>
        <div class="grid-list__cell orders__date-created">
            <span class="grid-list__data grid-list__stacked">
                <span class="orders__date">Feb 20, 2024</span>
                <span class="orders__branch u-text-s-2 u-text-c-gunmetal-l2">ABC Branch #123 - Niles</span>
            </span>
        </div>
        <div class="grid-list__cell orders__total">
            <span class="grid-list__data">$9999.99</span>
        </div>
        <div class="grid-list__cell orders__status">
            <span class="grid-list__data">
                <span class="orders__status-badge badge">Requested</span>
            </span>
        </div>
        <div class="grid-list__cell orders__menu">
            <span class="grid-list__data">
                <span class="orders__menu-icon">
                    <img src="../../../../../assets/icons/dot-menu.svg" alt="More Menu">
                </span>
            </span>
        </div>
    </div>
</li>