<div class="filters">
    <div class="filters__section">
        <div class="form__group">
            <label class="form__label" for="formAddOnField">Date Created</label>
            <div class="form__add-on">
                <input class="form__element form--small" type="text" id="formAddOnField" placeholder="Select Dates...">
                <span class="form__append">
                    <span class="icon">
                        <img src="../../../../../assets/icons/calendar.svg" alt="">
                    </span>
                </span>
            </div>
        </div>
    </div>
    <div class="filters__section">
        <div class="form__group">
            <label class="form__label" for="formAddOnField">Order Type</label>
            <div class="filters__check-list">
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox1">
                    <label class="form__label" for="checkbox1">Delivery</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox2">
                    <label class="form__label" for="checkbox2">Will Call</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox3">
                    <label class="form__label" for="checkbox3">Express</label>
                </div>
            </div>
        </div>
    </div>
    <div class="filters__section">
        <div class="form__group">
            <label class="form__label" for="formAddOnField">Status</label>
            <div class="filters__check-list">
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox1">
                    <label class="form__label" for="checkbox1">Requested</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox2">
                    <label class="form__label" for="checkbox2">Scheduled</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox3">
                    <label class="form__label" for="checkbox3">Completed</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox4">
                    <label class="form__label" for="checkbox4">Cancelled</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox5">
                    <label class="form__label" for="checkbox5">Partial</label>
                </div>
                <div class="form__check-group filters__check-item">
                    <input class="form__check" type="checkbox" value id="checkbox6">
                    <label class="form__label" for="checkbox6">Pending</label>
                </div>
            </div>
        </div>
    </div>

</div>