<div class="filters">
    <div class="filters__section">
        <div class="filters__section-header">
            <h6 class="filters__section-title">Date Ordered</h6>
        </div>
        <div class="filters__section-body">
            <div class="form__group">
                <div class="form__add-on">
                    <input class="form__element form--small" type="text" id="DateSelect" placeholder="Select Dates...">
                    <span class="form__append">
                        <span class="icon">
                            <img src="../../../../../assets/icons/calendar.svg" alt="">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="filters__section">
        <div class="filters__section-header">
            <h6 class="filters__section-title">Order Type</h6>
        </div>
        <div class="filters__section-body">
            <div class="form__group">
                <div class="filters__check-list">
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox1">
                        <label class="form__label" for="checkbox1">Delivery</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox2">
                        <label class="form__label" for="checkbox2">Will Call</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox3">
                        <label class="form__label" for="checkbox3">Express</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="filters__section">
        <div class="filters__section-header">
            <h6 class="filters__section-title">Status</h6>
        </div>
        <div class="filters__section-body">
            <div class="form__group">
                <div class="filters__check-list">
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox4">
                        <label class="form__label" for="checkbox4">Requested</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox5">
                        <label class="form__label" for="checkbox5">Scheduled</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox6">
                        <label class="form__label" for="checkbox6">Completed</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox7">
                        <label class="form__label" for="checkbox7">Cancelled</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox8">
                        <label class="form__label" for="checkbox8">Partial</label>
                    </div>
                    <div class="form__check-group filters__check-item">
                        <input class="form__check" type="checkbox" value id="checkbox9">
                        <label class="form__label" for="checkbox9">Pending</label>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>