<ul class="site-nav" [ngClass]="{'is-compact': isCompact === true}">
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/home.svg" alt="Home">
            </span>
            <span class="site-nav__text">Home</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/products.svg" alt="Products">
            </span>
            <span class="site-nav__text">Products</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/templates.svg" alt="Templates">
            </span>
            <span class="site-nav__text">Templates</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/quotes.svg" alt="Quotes">
            </span>
            <span class="site-nav__text">Quotes</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/orders.svg" alt="Orders">
            </span>
            <span class="site-nav__text">Orders</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/deliveries.svg" alt="Deliveries">
            </span>
            <span class="site-nav__text">Deliveries</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/measurements.svg" alt="Measurements">
            </span>
            <span class="site-nav__text">Measurements</span>
        </a>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/invoices.svg" alt="Invoices">
            </span>
            <span class="site-nav__text">Invoices</span>
        </a>
    </li>
    <li class="site-nav__divider">
        <div class="site-nav__divider-line"></div>
    </li>
    <li class="site-nav__item">
        <a href="#" class="site-nav__link">
            <span class="site-nav__icon">
                <img src="../../../assets/icons/account.svg" alt="Account">
            </span>
            <span class="site-nav__text">Account</span>
        </a>
    </li>
</ul>