<div class="top-nav card--depth-1">
    <div class="top-nav__menu">
        <div class="menu">
            <span class="menu__icon">
                <img src="../../../assets/icons/menu.svg" alt="Menu" />
            </span>
            <img class="menu__logo" src="../../../assets/images/ABC-logo-color.svg" alt="ABC Supply" />
        </div>
    </div>
    <div class="top-nav__account">
        <!-- <app-overlay [contentTemplate]="accountDropdown" trigger="click" type="dropdown" position="bottom"> -->
            <div class="account">
                <div class="account__icon">
                    <img class="account__icon-img" src="../../../assets/icons/user.svg" alt="Account" />
                </div>
                <div class="account__text">
                    <!-- <div class="account__welcome">
                        <span>Welcome, &nbsp;</span>
                        <span class="account__user">John Doe</span>
                    </div> -->
                    <div class="account__customer">
                        <span class="account__customer-name">Redline Roofing</span>
                    </div>
                    <div class="account__number">
                        <span class="account__number-link">Account #12345678-1234</span>
                    </div>
                </div>
                <!-- <div class="account__link">
                    <img class="search-alt__icon" src="../../../assets/icons/chevron-down.svg" alt="Open Account" />
                </div> -->
            </div>
        <!-- </app-overlay> -->
        <!-- <ng-template #accountDropdown>
            <div class="account-dropdown">
                <div class="account-dropdown__header">
                    <h6 class="account-dropdown__title">Account Details</h6>
                </div>
                <div class="account-dropdown__body">
                    <ul class="account-dropdown__list">
                        <li class="account-dropdown__list-item">
                            <a href="" class="account-dropdown__link">My Profile</a>
                        </li>
                        <li class="account-dropdown__list-item">
                            <a href="" class="account-dropdown__link">Manage Users</a>
                        </li>
                        <li class="account-dropdown__list-item">
                            <a href="" class="account-dropdown__link">Manage Preferences</a>
                        </li>
                        <li class="account-dropdown__list-item">
                            <a href="" class="account-dropdown__link">Rewards Program</a>
                        </li>
                        <li class="account-dropdown__list-item">
                            <a href="" class="account-dropdown__link">Connect Partners</a>
                        </li>
                        <li class="account-dropdown__list-item">
                            <span class="account-dropdown__divider"></span>
                        </li>
                        <li class="account-dropdown__list-item">
                            <label class="form__label" for="formTextField">Customer Account</label>
                            <select class="form__element form--small" id="formSelect">
                                <option>Redline 1234</option>
                                <option>Redline 2345</option>
                                <option>Redline 3456</option>
                                <option>Redline 4567</option>
                                <option>Redline 5678</option>
                            </select>
                        </li>
                        <li class="account-dropdown__list-item">
                            <label class="form__label" for="formTextField">Job Account</label>
                            <select class="form__element form--small" id="formSelect">
                                <option>12345678-1234</option>
                                <option>12345678-1234</option>
                                <option>12345678-1234</option>
                                <option>12345678-1234</option>
                                <option>12345678-1234</option>
                            </select>
                        </li>
                        <li class="account-dropdown__list-item">
                            <span class="account-dropdown__divider"></span>
                        </li>
                        <li class="account-dropdown__list-item">
                            <a href="" class="account-dropdown__link">Sign Out</a>
                        </li>
                    </ul>
                </div>
            </div>
        </ng-template> -->
    </div>
    <div class="top-nav__search">
        <div class="search">
            <div class="search__form">
                <div class="form__group">
                    <div class="form__add-on">
                        <input class="form__element form--small" type="text" id="formAddOnField" placeholder="Search Products...">
                        <span class="form__append">
                            <span class="search__icon">
                                <img src="../../../assets/icons/search.svg" alt="Search">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-nav__actions">
        <div class="search-alt">
            <img class="search-alt__icon" src="../../../assets/icons/search-alt.svg" alt="Search" />
        </div>
        <div class="top-nav__divider search-alt"></div>
        <div class="language">
            <img class="language__icon" src="../../../assets/icons/language.svg" alt="Language" />
            <!-- <span class="language__text">En</span> -->
        </div>
        <div class="top-nav__divider"></div>
        <div class="notifications">
            <img class="notifications__icon" src="../../../assets/icons/notification.svg" alt="Notifications" />
        </div>
        <div class="top-nav__divider"></div>
        <div class="branch">
            <div class="branch__icon">
                <img src="../../../assets/icons/branch.svg" alt="Current Branch" />
            </div>
            <div class="branch__text">
                <span class="branch__name">ABC Supply Branch #123</span>
                <span class="branch__location">Anytown, IL 60555</span>
            </div>
        </div>
    </div>
</div>
