.overlay {
    z-index: 200;
    &__trigger {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    &__content {
        background-color: #fff;
        padding: 1.5rem 2rem;;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
    &--tooltip {
        background-color: #333;
        color: #fff;
        padding: 1rem;
        white-space: nowrap;
        font-size: 1.2rem;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            margin: auto;
            rotate: 45deg;
            background-color: #333;
        }
    }
    &--popover {
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 1rem;
            height: 1rem;
            margin: auto;
            rotate: 45deg;
            background-color: #fff;
        }
    }
    &--dropdown {
        padding: 0;
    }
    &.overlay--bottom:after {
        top: -.5rem;
        left: 0;
        right: 0;
    }
    &.overlay--top:after {
        bottom: -.5rem;
        left: 0;
        right: 0;
    }
    &.overlay--left:after {
        right: -.5rem;
        top: 0;
        bottom: 0;
    }
    &.overlay--right:after {
        left: -.5rem;
        top: 0;
        bottom: 0;
    }
}