.overlay {
    z-index: 100;
    &__trigger {
        display: inline-block;
        position: relative;
        cursor: pointer;
    }
    &__content {
        background-color: #fff;
        padding: 1.5rem 2rem;;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
    }
    &--tooltip {
        background-color: #333;
        color: #fff;
        padding: 1rem;
        white-space: nowrap;
        font-size: 1.2rem;
    }
}