<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell orders__po-number">
            <span class="grid-list__data">
                PAL-2309314
            </span>
        </div>
        <div class="grid-list__cell measurements__address">
            <span class="grid-list__data">
                115 South Cedar Street, Palatine, IL 60067
            </span>
        </div>
        <div class="grid-list__cell measurements__vendor">
            <span class="grid-list__data">
                <img class="measurements__vendor-logo" src="../../../../../assets/images/hover-logo.svg" alt="Hover">
            </span>
        </div>
        <div class="grid-list__cell measurements__date-requested">
            <span class="grid-list__data">
                Jul 31, 2024
            </span>
        </div>
        <div class="grid-list__cell measurements__structures">
            <span class="grid-list__data">
                2
            </span>
        </div>
        <div class="grid-list__cell measurements__status">
            <span class="grid-list__data">
                <span class="measurements__status-badge badge">Complete</span>
            </span>
        </div>
        <div class="grid-list__cell measurements__menu">
            <span class="grid-list__data">
                <span class="orders__menu-icon">
                    <img src="../../../../../assets/icons/dot-menu.svg" alt="More Menu">
                </span>
            </span>
        </div>
    </div>
</li>