<div class="top-nav card--depth-1">
    <div class="top-nav__greeting">
        <div class="greeting">
            <span class="greeting__company">Red Line Roofing</span>
            <span class="greeting__name">Hello, John.</span>
        </div>
    </div>
    <div class="top-nav__search">
        <div class="search">
            <div class="form__group">
                <div class="form__add-on">
                    <input class="form__element form--small" type="text" id="formAddOnField" placeholder="Search Products...">
                    <span class="form__append">
                        <span class="search__icon">
                            <img src="../../../assets/icons/search.svg" alt="Search">
                        </span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="top-nav__actions">
        <div class="top-nav__language">
            <div class="language">
                <span class="language__text">English</span>
                <span class="language__icon">
                    <img src="../../../assets/icons/chevron-down.svg" alt="Select Language">
                </span>
            </div>
        </div>
        <div class="top-nav__divider"></div>
        <div class="top-nav__notifications">
            <div class="notifications">
                <img class="notifications__icon" src="../../../assets/icons/notification.svg" alt="Notifications">
            </div>
        </div>
        <div class="top-nav__divider"></div>
        <div class="top-nav__branch">
            <div class="branch">
                <div class="branch__icon">
                    <img src="../../../assets/icons/branch.svg" alt="Current Branch">
                </div>
                <div class="branch__text">
                    <span class="branch__name">ABC Supply Branch #123</span>
                    <span class="branch__location">Anytown, IL 60555</span>
                </div>
            </div>
        </div>
    </div>
</div>
