
<div class="form__group u-m-0 u-p-0">
    <div class="form__check-group">
        <input class="form__check" type="checkbox" value id="ordersWidgetCheck" checked>
        <label class="form__label" for="ordersWidgetCheck">Orders</label>
    </div>
    <div class="form__check-group">
        <input class="form__check" type="checkbox" value id="deliveriesWidgetCheck" checked>
        <label class="form__label" for="deliveriesWidgetCheck">Deliveries</label>
    </div>
    <div class="form__check-group">
        <input class="form__check" type="checkbox" value id="templatesWidgetCheck" checked>
        <label class="form__label" for="templatesWidgetCheck">Templates</label>
    </div>
    <div class="form__check-group">
        <input class="form__check" type="checkbox" value id="measurementsWidgetCheck" checked>
        <label class="form__label" for="measurementsWidgetCheck">Measurements</label>
    </div>
    <div class="form__check-group">
        <input class="form__check" type="checkbox" value id="quotesWidgetCheck" disabled>
        <label class="form__label" for="quotesWidgetCheck">Quotes</label>
    </div>
</div>
    