@import '../shared.scss';

.templates {
    &__last-modified-by {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
}

.grid-list {
    &__content {
        grid-template-columns: 1.5fr 1fr 1fr 1.25fr;
        grid-template-rows: 1fr;
    }
}