<div class="templates widget">
    <div class="widget__header">
        <h3 class="widget__title">Templates</h3>
        <div class="widget__actions">
            <button class="btn btn--primary btn--small">Create New</button>
            <button class="btn btn--outline btn--small" routerLink="/templates" routerLinkActive="active" ariaCurrentWhenActive="page">Browse All</button>
        </div>
    </div>
    <div class="widget__body">
        <div class="grid-list">
            <div class="grid-list__header">
                <div class="grid-list__content">
                    <div class="grid-list__label templates__name">
                        <span class="grid-list__data ">Name</span>
                    </div>
                    <div class="grid-list__label templates__last-used">
                        <span class="grid-list__data">Last Used</span>
                    </div>
                    <div class="grid-list__label templates__date-created">
                        <span class="grid-list__data">Date Created</span>
                    </div>
                    <div class="grid-list__label templates__last-modified">
                        <span class="grid-list__data">Last Modified By</span>
                    </div>
                </div>
            </div>
            <ul class="grid-list__list">
                <app-templates-widget-row></app-templates-widget-row>
                <app-templates-widget-row></app-templates-widget-row>
                <app-templates-widget-row></app-templates-widget-row>
                <app-templates-widget-row></app-templates-widget-row>
                <app-templates-widget-row></app-templates-widget-row>
                <app-templates-widget-row></app-templates-widget-row>
                <app-templates-widget-row></app-templates-widget-row>
            </ul>
        </div>
    </div>
</div>