.product-nav {
    &__category-title {
        margin: 0;
        font-size: 1.6rem;
        background-color: #f8f9fa;
        padding: 1rem 2rem;
        border-bottom: 1px solid #e7e9ec;
    }
    &__category-link {
        color: #333;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1rem 2rem;
        border-bottom: 1px solid #e7e9ec;
        transition: background-color .25s ease;
        &:hover {
            background-color: #f8f9fa;
        }
    }
    &__category-icon {
        width: 2rem;
    }
}