<nav class="product-nav" [ngClass]="{'is-next': isNext === true}">
    <div class="product-nav__tier product-nav__tier--1">
        <div class="product-nav__category">
            <div class="product-nav__category-header">
                <h3 class="product-nav__category-title">My Products</h3>
            </div>
            <div class="product-nav__category-links">
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Favorites</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Frequently Ordered</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Recently Ordered</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
            </div>
        </div>
        <div class="product-nav__category">
            <div class="product-nav__category-header">
                <h3 class="product-nav__category-title">Categories</h3>
            </div>
            <div class="product-nav__category-links">
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Adhesives, Sealants & Tape</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Concrete, Cement & Masonry</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Fasteners & Hardware</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Fencing, Decking & Railing</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Flashing</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Gutters, Downspouts, Culvert & Sewer</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Insulation & Weatherproofing</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Raw Materials & Cable</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">MRO & Facility Equipment</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Operational</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a class="product-nav__category-link" (click)="nextCategory()">
                    <span class="product-nav__category-name">Roofing Materials</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Siding & Soffit</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Tools</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Windows, Doors & Millwork</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Kitchen & Bath</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Wall, Ceiling & Floor Materials</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Special Classifications</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
            </div>
        </div>
    </div>
    <div class="product-nav__tier product-nav__tier--2">
        <div class="product-nav__category">
            <div class="product-nav__category-header">
                <h3 class="product-nav__category-title">
                    <button class="product-nav__back" (click)="prevCategory()">
                        <img src="../../../../assets/icons/arrow-left-blue.svg" />
                    </button>
                    <span>Roofing Materials</span>
                </h3>
                <button class="btn btn--text btn--small u-p-0">Shop All</button>
            </div>
            <div class="product-nav__category-links">
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Asphalt & Coal Tar Pitch</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Coatings & Primers</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Curbs, Portals, & Hatches</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Decking & Accessories</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Drains, Scuppers & Accessories</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Loose Granule</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Membranes, Sheets, Roll Roofing & Underlayments</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Shingles, Tiles & Panels</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Snow Guards & Accessories</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Decorations</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Repair Kits</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Vegetative Roofing</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
                <a href="" class="product-nav__category-link">
                    <span class="product-nav__category-name">Roof Ventilation</span>
                    <span class="product-nav__category-icon">
                        <img src="../../../../assets/icons/chevron-right-alt.svg" />
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>