<nav class="product-nav">
    <div class="product-nav__category">
        <h3 class="product-nav__category-title">My Products</h3>
        <div class="product-nav__category-links">
            <a href="" class="product-nav__category-link">
                <span class="product-nav__category-name">Favorites</span>
                <span class="product-nav__category-icon">
                    <img src="../../../../assets/icons/chevron-right-alt.svg" />
                </span>
            </a>
            <a href="" class="product-nav__category-link">
                <span class="product-nav__category-name">Frequently Ordered</span>
                <span class="product-nav__category-icon">
                    <img src="../../../../assets/icons/chevron-right-alt.svg" />
                </span>
            </a>
            <a href="" class="product-nav__category-link">
                <span class="product-nav__category-name">Recently Ordered</span>
                <span class="product-nav__category-icon">
                    <img src="../../../../assets/icons/chevron-right-alt.svg" />
                </span>
            </a>
        </div>
    </div>
</nav>