<li class="grid-list__item">
    <div class="grid-list__content">
        <div class="grid-list__cell">
            <span class="grid-list__data orders__po-number">ABC12345678</span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__order-number">1234567890</span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data grid-list__stacked orders__order-type">
                <span class="orders__type-badge badge">Delivery</span> 
            </span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__address">1234 Anystreet Ave.</span>
        </div>
        <div class="grid-list__cell">
            <span class="grid-list__data orders__status">
                <span class="orders__status-badge badge">Requested</span>
            </span>
        </div>
    </div>
</li>