@import '../shared.scss';

$name: 1.15fr;
$last-modified: 1.75fr;
$order-type: 11rem;
$po-number: .85fr;
$date-created: 1.25fr;
$total: .5fr;
$status: 10rem;
$menu: 2rem;

.orders {
    &__status, &__menu {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__type-badge {
        background-color: #ebedef;
        color: #292F36;
    }
}

.grid-list {
    &__content {
        grid-template-columns: $name $last-modified $order-type $po-number $date-created $total $status $menu;
        grid-template-rows: 1fr;
    }
}

@container gridlist (max-width: 960px) {
    .grid-list {
        &__content {
            grid-template-columns: $name $last-modified $order-type $po-number $total $status $menu;
        }
    }
    .orders {
        &__date-created {
            display: none;
        }
    }
}

@container gridlist (max-width: 768px) {
    .grid-list {
        &__content {
            grid-template-columns: $name $order-type $po-number $total $status $menu;
        }
    }
    .orders {
        &__last-modified {
            display: none;
        }
    }
}

@container gridlist (max-width: 640px) {
    .grid-list {
        &__content {
            grid-template-columns: $name $po-number $total $status $menu;
        }
    }
    .orders {
        &__order-type {
            display: none;
        }
    }
}

@container gridlist (max-width: 480px) {
    .grid-list {
        &__content {
            grid-template-columns: $name $po-number $status $menu;
        }
    }
    .orders {
        &__total {
            display: none;
        }
    }
}