html {
    font-size: 10px;
    display: block;
    height: 100vh;
    width: 100vw;
    min-width: 375px;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: "acumin-variable", sans-serif;
    font-variation-settings: "slnt" 0, "wdth" 100, "wght" 400;
}

@media screen and (max-width: 960px) {
    html {
        font-size: 9px;
    }
}

@media screen and (max-width: 640px) {
    html {
        font-size: 8px;
    }
}

body {
    font-size: 1.4rem;
    font-weight: 400;
    display: block;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color: #f5f6f7;
}

*, :after, :before {
    box-sizing: border-box;
    position: relative;
}

ul, ol, li, ul li, ol li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3.6rem;
    margin: 0;
    font-variation-settings: "wght" 200;
    line-height: 1;
    color: #003164;
}

button, html, input, select, textarea {
    font-family: acumin-variable;
}

a {
    transition: background-color .25s ease;
}

.btn {
    &--text {
        font-size: 1.2rem;
    }
}

.badge {
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    line-height: 1;
    padding: 0 1rem 0 1rem;
    height: 2rem;
}

.btn {
    flex: none;
}

.modal {
    display: block;
    background-color: white;
}

.grid-list {
    &__header {
        margin-bottom: 0;
        z-index: 10;
        background-color: #fff;
        padding-top: 2rem;
        padding: 2rem 2rem 0 2rem;
        container: gridlist / inline-size;
        & .grid-list__content {
            padding: 0 0 1rem 0;
        }
    }
    &__item {
        border: none;
        border-bottom: 1px solid #e7e9ec;
        margin: 0;
        padding: 0 2rem;
        transition: background-color .15s ease;
        container: gridlist / inline-size;
        &:hover {
            box-shadow: none;
            background-color: #f8f9fa;
            cursor: pointer;
        }
    }
    &__content {
        padding: 1.5rem 0;
        grid-gap: 1.5rem;
    }
    &__label {
        font-size: 1.1rem;
    }
    &__label, &__cell {
        padding: 0;
        align-items: flex-start;
    }
    &__stacked {
        display: flex;
        flex-direction: column;
        & span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.form {
    &__append {
        padding: 0;
    }
}