@import '../shared.scss';

.orders {
    &__type-badge {
        background-color: #ebedef;
        color: #292F36;
    }
    &__status {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__po-number-branch {
        font-size: 1.1rem;
        color: #627181;
    }
}

.grid-list {
    &__content {
        grid-template-columns: 1fr 1fr 12rem 1.25fr 12rem;
        grid-template-rows: 1fr;
    }
}